*{
    margin: 0;padding: 0;
    box-sizing:content-box;
}
body{
    overflow: scroll;
}
#bg_img{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#common{
    width: 980px;
    margin: 0 auto;
    display: flex;
}
#res_name{
    background-color: rgb(38, 50, 56);
    color: white;
    width: 300px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    flex-direction: column;
    position: relative;
    font-family: 'Yellowtail', cursive;
}
#res_name::after{
    content: '';
    width: 70%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 10px;
}
#nav_bar{
    list-style: none;
    width: 680px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
#nav_bar a{
    text-decoration: none;
    color: rgb(158, 158, 158);
    font-size: 15px;
}

#sec2{
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
#left_bar{
    background-color: rgb(38, 50, 56);
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    padding: 25px 10px;
}
#left_bar p{
    width: 80%;
    text-align: justify;
    font-size: 15px;
}

#left_bar input, #left_bar button{
    background-color: rgb(38, 50, 56);
    color: white;
    width: 90%;
    height: 29px;
    border: 1px solid white;
    font-size: larger;
    padding: 5px;
}
#time::placeholder, #size::placeholder{
    color: white;
}
#left_bar button{   
    background-color: rgb(236, 239, 241);
    color: black;
    outline: none;
    border: none;
}
#left_bar button:hover{
    background-color: rgba(236, 239, 241,.8);
}
#address{
    margin-top: 80px;
    position: relative;
    padding-top: 50px;
}
#address::before{
    content: '';
    height: 1px;
    width: 200px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: -23px;
}
.addr{
    width: 100% !important;
    font-size: 12px !important;
    text-align: center !important;
    margin-bottom: 5px;
    font-family: sans-serif;
}
#social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}

#right_bar{
    width: 650px !important;
    background-color: rgb(38, 50, 56);
}